---
import cn from "clsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <!-- changing order, then saving file will re-sort the classes -->
    <h1 class="h-4 w-4 font-bold">Astro</h1>

    <!-- clsx/cn expressions still not supported, only the bottom `p` will get sorted -->
    <p class={cn("flex-col flex")}></p>
    <p class="flex flex-col"></p>
  </body>
</html>
